.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #646060;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.nav-logo {
  font-size: 2rem;
  a:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  font-size: 0.9rem;
  margin: 0 1.3rem 0 0;
}

.link {
  color: #beb5b5;
  &:hover {
    text-decoration: underline;
  }
}

.active-link {
  color: #ffffff;
}
